// FONT COLORS
$color-dark-1: #334155;
$color-dark-2: #18181b;

$color-light-1: #f5f5f5;
$color-light-2: #d6d3d1;
$color-light-3: #e5e7eb;

$color-grey-1: #a1a1aa;

$color-aqua-1: #0e7490;
$color-aqua-2: #0ea5e9;
$color-aqua-3: #0284c7;
$color-aqua-4: #164e63;
$color-aqua-5: #14b8a6;

// SHADOW
$shadow-1: 0 1rem 2rem rgba($color-dark-2, 0.5);

// FONTS
$ubuntu: "Ubuntu", sans-serif;
$poppins: "Poppins", sans-serif;
$space-mono: "Space Mono", monospace;
$varela: "Varela Round", sans-serif;

$default-font-size: 2rem;
$secondary-font-size: 1.6rem;
